<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Choose Your Command</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>Our Prediction of Your Action Is :</h3>
  <h2>{{prediction}}</h2>
     
<form role="form" method='post'>
	<div class="col-xs-5">
		<label for="name">Is our prediction right? If not, please tell us what's your command</label>
		<select name="right_if" class="form-control">
			<option selected>--Please Choose One </option>
			<option>Yes</option>
			<option>No</option>
			
		</select>
		<button class="btn btn-default" type="submit">Go!</button>
	</div>
</form>

</div>
</body>
</html>