<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Record Your Voice To Test</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript"> 
	$(function() { 
    $(".btn").click(function(){
        $(this).button('loading').delay(2000).queue(function() {
            $(this).button('reset');
            $(this).dequeue();
        });
		
    });
}); 
</script>  
</head>
<body>

<div class="container">
  <h2>Test Your Voice To Test</h2>
     
<form role="form" method='post'>
	<div class="col-xs-5">
		<label for="name">Test Now!</label>
		 <button type="submit" class="btn btn-default" data-loading-text="Detecting...">Start</button>
	</div>
</form>
</div>
</body>
</html>